extends layout

block content
    div.header
        div.thumbnailDiv
            img.thumbnail(src=program.thumbnail)
        div
            div
                h1.name= program.name
            div
                h4.bio= program.bio
    div.contentContainer
        div.content
            if program.video
                iframe(width="560" height="315" src=`${program.video}` frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            else
                img(width="560" height="315" src=`${program.image}`)
        div.descDiv

            p.description= program.description
    div.commentHolder
        form(action=`/program/${program.id}` method='POST')
            //- input(type='hidden' name='_csrf' value=csrfToken)
            input(type='text' name='comment' placeholder='Type a comment')
            button.comment(type='submit') Comment
        div.commentBlock
            if program.comments
                each comment in comments
                    div= program.comment
            else
                div.noComments
                    div No Comments Yet! Be the first!





    div.buttonholderHolder
        div.buttonHolder
            if (program.userId === signedInId)
                form.registration#deleteform(action=program.id+'/delete' method='GET')
                    button.signup#delete(class='logout') Delete
