extends layout

block content
    div.header
        div.thumbnailDiv
            img.thumbnail(src=program.thumbnail)
        div
            div
                h1.name= program.name
            div
                h4.bio= program.bio
    div.contentContainer
        div.content
            if program.video
                iframe(width="560" height="315" src=`${program.video}` frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            else
                img(width="560" height="315" src=`${program.image}`)
        div.descDiv

            p.description= program.description

            div.buttonHolder
                if (program.userId === signedInId)
                    form.registration#deleteform(action=program.id+'/delete' method='GET')
                        button.signup#delete(class='logout') Delete
            div.commentHolder
                form.commentForm(action=`/program/${program.id}` method='POST')
                    //- input(type='hidden' name='_csrf' value=csrfToken)
                    input.commentInputBox(type='text' name='comment' placeholder='Add a comment..')
                    button.commentSubmit(type='submit') Comment
            div.commentBlock
                if comments
                    each comment in comments
                        div.comment
                            img.commentThumbnail(src=`https://images.pexels.com/photos/1036371/pexels-photo-1036371.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260`)
                            div.commentInfo
                                div.commentUsername=comment.User.username.toUpperCase()
                                    div.commentTime=moment(comment.createdAt).fromNow()
                                div.commentComment= comment.comment
                else
                    div.noComments
                        div No Comments Yet! Be the first!
